{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    <h2>Create Listing</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="row">
        <div class="card bg-dark text-white col-lg-6 col-md-10 col-sm-12" >
            <img class="card-img-top" src="{% static 'auctions/create.png' %}" alt="Card image" id="create_img">
            <div class="card-body">
                <form action="{% url 'create_listing' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="name" placeholder="Name of product">
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="category" placeholder="Category" required>
                            <option value="">Choose a Category</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Tools">Tools</option>
                            <option value="Toys">Toys</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Accessories">Accessories</option>
                            <option value="Books">Books</option>
                            <option value="Car">Car</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="price" placeholder="Stating Bid ($)">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="description" id="description" placeholder="Description of product"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="image_link" placeholder="Image Link (Optional)">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Create">
                </form>
            </div>
        </div>
    </div>

{% endblock %}