{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>E-Auction</h2>
    <img class="img-thumbnail" src="{% static 'auctions/home.png' %}" alt="E-Auction image" id="home_img">
    <div>
        <p>
            This is an e-auction site that allows users to create auction listings and place bids for another seller's products. You can see the active listings and also the description of the products seperately. Products can also be added to watchlist, you can add comments and many more.😊  
        </p>
    </div>
{% endblock %}