{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
            <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
               <a class="navbar-brand" href="#"><img  id="navlogo" src="{% static 'auctions/auction.jpg' %}" height="30" width="41"></a>
               <div class="collapse navbar-collapse" id="Navbar">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}"><span class="fa fa-home fa-lg"></span> Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'active_listings' %}"> Active Listings</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'create_listing' %}"> Create Listings</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'categories' %}"> Categories </a></li>
                            <li class="nav-item"><a class="nav-link" href="#"> Watchlist</a></li>
                            <li class="nav-item"><a class="nav-link" href="#"> Closed Listings</a></li>

                        </ul>
                        <span class="navbar-text">Welcome <strong>{{ user.username }}</strong></span>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> Logout</a></li>
                        </ul> 
                    {% else %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}"><span class="fa fa-home fa-lg"></span> Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'active_listings' %}"> Active Listings</a></li>
                            
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"></span> Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                        </ul>
                    {% endif %}
                </div>           
            </div>
        </nav>
        <div class="container" id="mainDiv">
            {% block body %}
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="align-self-center" id="footer_buttons">
                        <ul class="footer__social-links">        
                            <li class="footer__social-link-item">
                              <a href="https://github.com/reeti26109" title="Link to Github Profile" target="_blank">
                                <img src="{% static 'auctions/github.svg' %}" class="footer__social-image" alt="Github">
                              </a>
                            </li>
                            <li class="footer__social-link-item">
                              <a href="https://www.linkedin.com/in/reeti-ranjan" title="Link to Linkedin Profile" target="_blank">
                                <img src="{% static 'auctions/linkedin.png' %}" class="footer__social-image" alt="Linkedin">
                              </a>
                            </li>
                            <li class="footer__social-link-item">
                              <a href="https://www.facebook.com/" title="Link to Facebook Profile" target="_blank">
                                <img src="{% static 'auctions/facebook.png' %}" class="footer__social-image" alt="Facebook">
                              </a>
                            </li>
                        </ul>    
                    </div>
               </div>
               <div class="row justify-content-center">             
                    <div class="col-auto">
                        <p style="color: white;"><strong>&copy;Developed by Reeti</strong></p>
                    </div>
               </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                var nav = document.getElementsByClassName("nav-item")
                for (var i = 0; i < nav.length; i++) {
                    nav[i].addEventListener("click", function() {
                        var current = document.getElementsByClassName("active");
                        current[0].className = current[0].className.replace(" active", "");
                        // console.log("Success");
                        this.className += " active";
                    });
                }
            });
        </script>
    </body>
</html>
