{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    <h2>{{ product.name }}</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="card bg-dark text-white col-lg-8 col-md-10 col-sm-12" >
        <img class="card-img-top" src="{{ product.image_link }}" alt="Card image" id="product_img" style="margin-top: 10px;">
        <div class="card-body">
            <p> <strong>Category:</strong> {{ product.category}}<br>
                <strong>Price:</strong> ${{product.starting_bid}}<br>
                <strong>Seller:</strong> {{ product.seller }}<br>
                <strong>Description:</strong>{{ product.description }}<br><br>
                <strong>Created on:</strong> {{product.time}}
            </p>
            {% if added %}
                <a href="{% url 'watchlist' name=product.name %}" class="btn btn-danger" name="remove">Remove from Watchlist</a>
            {% else %}
                <a href="{% url 'watchlist' name=product.name %}" class="btn btn-success" name="add">Add to Watchlist</a>
            {% endif %}
            <br>
        </div>
    </div>
    <div class="card bg-dark text-white col-lg-6 col-md-10 col-sm-12" >
        <div class="card-header"><h5>Place bid:</h5></div>
        <div class="card-body">
            <form action="{% url 'product' name=product.name %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="number" name="bid" placeholder="Amount ($)">
                </div>
                <input class="btn btn-primary" type="submit" value="Place">
            </form>
        </div>
    </div>

    <div class="card bg-dark text-white col-lg-8 col-md-10 col-sm-12" >
        <div class="card-header"><h5>Comments:</h5></div>
        <div class="card-body">
            <div>
                {% for comment in comments %}
                    <div><strong>{{ comment.user }}:</strong> {{ comment.content }}<br>{{ comment.time }}
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <form action="{% url 'comment' name=product.name %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea autofocus class="form-control" name="comment" placeholder="Add comment" id="comment"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Comment" >
            </form>
        </div>
    </div>

    {% if seller %}
        <input class="btn btn-danger" type="submit" value="Close Bid" >
    {% endif %}
{% endblock %}

            